$dark-gray: rgba(20,20,20,.9);
$light-gray: rgba(70,70,70,.7);
$white: rgba(255, 255, 255, .9);
$yellow: rgba(231, 227, 1, 0.9);

$segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


$fs-h1: 2rem;
$fs-h2: 1.75rem;