article {

  width: clamp(500px, 70%, 800px);
  margin: 2rem auto;

  @include basic-box-style;

  p {
    border: 1px solid $white;
    padding: 1rem 0 1.5rem 1rem;
    line-height: .7rem;
    vertical-align: middle;
  }
}

.title.first-last {
  font-size: $fs-h2;
  text-align: center;
}

