article {

  width: clamp(500px, 75%, 900px);
  margin: 2.5rem auto;

  @include basic-box-style;

  p {
    border-bottom: 1px dotted $white;
    padding: 2rem 0 2.25rem 1rem;
    // line-height: .7rem;
    font-size: 1rem;
  }
}

.title.first-last {

  padding: .5rem 0;
  font-size: $fs-h2;
  text-align: center;
  border-bottom: 1px dotted $white;

}

